[submodule "vendor/method-reader"]
	path = vendor/method-reader
	url = https://github.com/timurbey/honest-profiler
[submodule "vendor/jlibc"]
	path = vendor/jlibc
	url = https://github.com/timurbey/jlibc.git
